<section class="hero is-wood is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Créa Meubles Albi
            </h1>
            <h2 class="subtitle">
                Toute l'équipe de Créa Meubles vous accueille, animée par la même passion :
                le bois massif, le sur-mesure, la finition des meubles selon votre choix.<br>
                Chaque meuble peut devenir une pièce unique, personnalisée selon vos goûts et vos envies du moment.
            </h2>
            <div class="has-text-centered my-buttons">
                <a class="button is-warning is-large">
                    <span class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span>Acheter en ligne</span>
                </a>
                &nbsp;
                <a class="button is-dark is-large">
                    <span class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <span>Accèder au magasin</span>
                </a>
            </div>
            <div class="has-text-centered">
                <a href="http://www.lesexpertsmeubles.fr/index.php" target="_blank">
                    <img src="../assets/experts-meubles.png" alt="Les experts meubles">
                </a>
            </div>
        </div>
    </div>
</section>
