<section class="hero is-wood is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Nous contacter
            </h1>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="../../../assets/logo-texte.png" alt="Logo Créa Meubles">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Créa Meubles</p>
                            <p class="subtitle is-6">
                                <a href="https://www.facebook.com/creameublesalbi/" target="_blank" class="button is-link is-outlined">
                                    <span class="icon">
                                        <i class="fab fa-facebook"></i>
                                    </span>
                                    <span>
                                        creameublesalbi
                                    </span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="content">
                        <a href="mailto:contact@creameubles.com">
                            contact@creameubles.com
                        </a><br>
                        05.63.54.69.50<br>
                        Chemin de Mézard, Route de Castres, 81000 Albi
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
