<section class="hero is-wood is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Notre magasin
            </h1>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <article class="tile is-child notification is-warning">
                                <p class="title">Historique</p>
                                <p class="subtitle">
                                    Créa Meubles a été créé en 1993 et récompensé d'un mercure d'or en 2002. Nous avons déménagé en 2007 pour mieux vous accueillir.
                                </p>
                            </article>
                            <article class="tile is-child notification is-dark">
                                <p class="title">Compétences</p>
                                <p class="subtitle">
                                    Un travail sérieux et de qualité exige les meilleurs talents ; diplômés de Revel et
                                    de l'Ecole Boulle, chez Créa Meubles, nous vous faisons profiter de notre riche expérience
                                    autour du bois et du meuble pour répondre à vos exigences.
                                </p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-bleu-expert">
                                <p class="title">Equipe</p>
                                <p class="subtitle">
                                    En magasin, une équipe de professionnel est présente pour vous accueillir avec convivialité
                                    et vous offrir les meilleurs conseils.<br>
                                    Dans nos ateliers, Patrick et Joël (ébéniste et vernisseur) mettent tout en oeuvre pour satisfaire
                                    toutes vos demandes.
                                </p>
                                <figure class="image is-3by1 equipe is-clickable" (click)="toggleModal()">
                                    <img src="../../../assets/equipe.png" alt="L'équipe">
                                </figure>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-success">
                        <div class="content">
                            <p class="title">Atouts</p>
                            <p class="subtitle">
                                Notre ancienneté et notre fidélité avec nos partenaires (fabricants, organisme de financement...)
                                nous permettent, aujourd'hui, de vous faire bénéficier des meilleures offres actuelles.<br>
                                Dans le cas d'un besoin de votre part pour un conseil ou un service après-vente,
                                notre atelier nous permet une réactivité immédiate.
                            </p>
                            <div class="has-text-centered experts-meubles">
                                <a href="http://www.lesexpertsmeubles.fr/index.php" target="_blank">
                                    <img src="../assets/experts-meubles.png" alt="Les experts meubles">
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal" #modalImg>
    <div class="modal-background"></div>
    <div class="modal-content">
        <p class="image is-3by1">
            <img src="../../../assets/equipe.png" alt="Equipe">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="toggleModal()"></button>
</div>
