<!-- Barre de navigation -->
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="../assets/logo.png" alt="Logo Créa Meubles">&nbsp;
            <span class="has-text-weight-bold">Créa Meubles</span>
        </a>

        <a role="button" (click)="toggleNavbar()" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" #navMenu class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" [routerLink]="['/']">
                Accueil
            </a>
            <a class="navbar-item" [routerLink]="['/notre-magasin']">
                Notre magasin
            </a>
            <a class="navbar-item" [routerLink]="['/nos-produits']">
                Nos produits et services
            </a>
            <a class="navbar-item" href="../assets/catalogue.pdf" target="_blank">
                Catalogue
            </a>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="https://boutique.creameubles.com">
                        <span class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                        <span class="has-text-weight-bold">Acheter en ligne</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" (click)="toggleModal()">
                Plan d'accès
            </a>
            <a class="navbar-item" [routerLink]="['/nous-contacter']">
                Contact
            </a>
        </div>
    </div>
</nav>

<!-- Contenu de la page -->
<router-outlet></router-outlet>

<!-- Modal -->
<div class="modal" #modalPlan>
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Chemin de Mézard, Route de Castres, 81000 Albi</p>
            <button class="delete" aria-label="close" (click)="toggleModal()"></button>
        </header>
        <section class="modal-card-body">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2874.416853970149!2d2.139369414977538!3d43.9093430791134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12addd5ecc5f2e99%3A0x271d0c676e380f1f!2sCr%C3%A9a+Meubles+Albi!5e0!3m2!1sfr!2sfr!4v1564760981174!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>
    </div>
</div>
