<!-- Barre de navigation -->
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="../assets/logo.png" alt="Logo Créa Meubles">&nbsp;
            <span class="has-text-weight-bold">Créa Meubles</span>
        </a>

        <a role="button" (click)="toggleNavbar()" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" #navMenu class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" [routerLink]="['/']">
                Accueil
            </a>
            <a class="navbar-item" [routerLink]="['/notre-magasin']">
                Notre magasin
            </a>
            <a class="navbar-item" [routerLink]="['/nos-produits']">
                Nos produits et services
            </a>
            <a class="navbar-item" href="../assets/catalogue.pdf" target="_blank">
                Catalogue
            </a>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="https://boutique.creameubles.com">
                        <span class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                        <span class="has-text-weight-bold">Acheter en ligne</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <a class="navbar-item">
                Plan d'accès
            </a>
            <a class="navbar-item" [routerLink]="['/nous-contacter']">
                Contact
            </a>
        </div>
    </div>
</nav>

<!-- Contenu de la page -->
<router-outlet></router-outlet>
