.is-wood {
    background-image: url('assets/content.jpg');
    background-size: cover;
}

.is-bleu-expert {
    background-color: #1B315A;
    color: #FFFFFF;
}

.is-clickable {
    cursor: pointer;
}
